<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Clubes Registrados</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="container p-4">
        <div class="text-center">
            <h2 class="section__title text-white font-weight-bold">Clientes Registrados</h2>
        </div>
        <br><br>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>direccion</th>
                    <th>telefono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente: ${listaCliente}">
                    <td th:text="${cliente.id}"></td>
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.direccion}"></td>
                    <td th:text="${cliente.telefono}"></td>
                    <td>
                        <a class="btn btn-info btn-sm" th:href="@{'/cliente/editar/'+ ${cliente.id}}" th:text="'Editar'"></a>
                        &nbsp; &nbsp;
                        <a class="btn btn-danger btn-sm" th:href="@{'/cliente/eliminar/'+ ${cliente.id}}" th:text="'Eliminar'"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <div class="p-3">
                <br><a th:href="@{/Vercliente/formCliente}" class="btn btn-outline-primary">Insertar Cliente</a>
            </div>
            <div class="p-3">
                <br><a th:href="@{/}" class="btn btn-outline-success">Inicio</a>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
